<% include partials/header %>  <!-- giving path to our head.ejs file -->
<div class="text-center">
    <h1>Homepage</h1>
    
    <p>Shopacart!</p>
    <a href="/items">Click here to view all items</a>
    
</div>

<% include partials/footer %>